<html>
    <head>
        <title>Casper College BetterThanWebAdvisor</title>
    </head>
    
    <body>
        <h2>Casper College BetterThanWebAdvisor</h2>
        <hr />
        <p> {% comment %} <p> is a paragraph {% endcomment %}
            Welcome to BetterThanWebAdvisor, the web app that is better than WebAdvisor™!
        </p>
        
        <ul>
            <li><h4><a href="{% url 'course_list' %}">Courses</a></h4></li>
            <li><h4><a href="{% url 'professor_list' %}">Professors</a></h4></li>
        </ul>
        
    </body>
</html>
