<html>
    <head>
        <title>Professor detail &mdash; {{ prof }}</title>
    </head>
    
    <body>
        <!-- <h2> is second-level header (makes it big, bold) -->
        <h2>{{ prof }}</h2>
        <!-- <hr /> is a horizontal rule -->
        <hr />
        
        <strong>E-mail:</strong> <a href="mailto:{{ prof.email }}">{{ prof.email }}</a> <br />
        <strong>Office:</strong> {{ prof.office }} <br />
        <strong>Phone number:</strong>
            {% if prof.extension != 0 %}
                {% comment %} Everything in here is totally ignored by Django
                  (not even sent to the client) {% endcomment %}
                {% comment %} only present if prof.extension != 0 {% endcomment %}
                (307) 268-{{ prof.extension|stringformat:"04d" }}
            {% else %}
                <!-- only present if prof.extension == 0 -->
                (none)
            {% endif %}
        <hr />
        <h3>Courses</h3>
        <ul>
            {% for course in courses %}
                <li><a href="{% url 'course_detail' course_id=course.id %}">{{ course }}</a></li>
            {% empty %}
                <li><em>(no courses on record)</em></li>
            {% endfor %}
        </ul>
    </body>
</html>
